a {
text-decoration:none;
}

a:link,a:active {
color:#900;
text-decoration:underline;
}

a:visited {
color:#193154;
text-decoration:underline;
}

a:hover {
color:#565656;
text-decoration:underline;
}

body {
background-color:#E6E6E6;
color:#1D1D1D;
font-size:100%;
font-family: "trebuchet ms", verdana, helvetica, "bitstream vera sans", "Arial", sans-serif;
text-align:center;
margin:15px 15px;
padding:0;
}

div#container {
background-color:#FBFBFB;
max-width:900px;
text-align:left;
font-size:93%;
border-color:#D4D4D4;
border-style:solid;
border-width:1px;
margin:0 auto;
padding:10px 20px;
}

h1 {
font-size:140%;
text-align:left;
margin:0;
padding:10px 0;
}

h2 {
font-size:130%;
text-align:left;
color:#2E2E2E;
border-bottom:1px solid #BBB;
margin:10px 0;
padding:5px 0;
}

h3 {
font-size:115%;
color:#344D5E;
text-align:left;
border-bottom:1px dotted #344D5E;
margin:10px 0px;
}

hr {
height:1px;
background-color:#BBB;
border:none;
}

blockquote {
border:1px solid #BBB;
padding:1px;
}

p {
text-indent:1em;
text-align:left;
margin:5px 10px;
padding:2px 0;
}

ol {
text-align:left;
margin:15px;
}

li {
margin:7px 0;
}

dl {
margin:0 0;
padding: 10px 10px;
}

dl dt, dl dd {
line-height:120%;
border-bottom:1px #CCCCCC dashed;
}

dl dt {
float:left;
padding:10px 0;
font-weight:bold;
text-indent:1em;
line-height:120%;
}

dl dd {
padding:10px 0 10px 5em;
line-height:120%;
}

pre {
-moz-border-radius:5px;
border:1px #BBB solid;
padding:15px;
margin:6px 3px;
font-size:95%;
background-color:#f9eefa;
}

table {
text-align:left;
font-family:'Helvetica', 'Arial', sans-serif;
width:100%;
margin: 5px;
border: 0px;
border-collapse:separate;
border-spacing:1em 7px;
}

table th {
font-weight: bold;
line-height:120%;
padding:5px;
}

table td:first-child {
font-weight: bold;
width:40%;
}

table td {
border-bottom:1px #BBB dashed;
}

ol#fancy {

}

ol#fancy li {
    font-weight: bold;
    font-size: x-large;
}

p#annotation {
    font-weight: bold;
    text-align: center;
    font-size: x-large;
}
