description#plugin-info-description {
    font-size: 105%;
    padding-left: 10px;
}

description#plugin-info-name {
    font-weight: bold;
    font-size: 130%;
}

description.notice {
    font-weight: bold;
}

grid#plugin-detail-box {
    margin: 10px 20px;
}

image#plugin-info-icon {
    margin: 0 7px;
    width: 32px;
    height: 32px;
}