richlistitem.plugin-listitem {
    border-bottom:1px #BBB dotted;
    padding: 5px;
}

image.plugin-icon {
    margin: 0 6px;
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
}

description.plugin-name {
    font-weight: bold;
}

hbox#plugin-button-container {
    padding: 5px;
}
