#keysnail-prompt-textbox {
    -moz-appearance: none !important;
    min-height: 18px !important;
    border: none !important;
}

#keysnail-prompt-label {
    -moz-appearance: none !important;
    font-weight: bold;
}

/* font-family: -moz-fixed; */

#keysnail-prompt {
    -moz-appearance: none !important;
}

